/**
	@Author				Dorin Grigoras [stepofweb]
	@URL				https://wrapbootstrap.com/user/stepofweb
	@Last Update		12:27 AM Monday, December 09, 2013

	------------------------------
	REWRITE `layout.css`
	------------------------------
**/



/** 01. Resets
 **************************************************************** **/
::selection {
	background:#50657B;
}
::-moz-selection {
	background:#50657B;
}



/** 02. Typography
 **************************************************************** **/
.btn-custom, .btn-custom.active {
	background:#50657B;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#69849e),to(#50657B));
	background-image: -webkit-linear-gradient(top,#69849e 0,#50657B 100%);
	background-image: -moz-linear-gradient(top,#69849e 0,#50657B 100%);
	background-image: linear-gradient(to bottom,#69849e 0,#50657B 100%);
	background-image: -moz-linear-gradient(top,#69849e 0,#50657B 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff69849e',endColorstr='#ff50657B',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-color: #3f5061;
	color:#fff;
	text-shadow:#3f5061 1px 1px 1px;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active {
	background:#3f5061;
	background-color:#50657B;
	background-position:0 -30px;
	border-color: #3f5061;
	color:#fff;
}

a, a:hover {
	color:#50657B;
}

.rounded-icon {
	color:#50657B;
}

section.color, div.color { 
	color:#fff !important;
	background-color:#50657B !important;
	border:0 !important;
}

/* section center menu - ex.: portfolio filter */
section nav ul li a:hover,
section nav ul li a.current,
section nav ul li a.active {
	background:#50657B;
	color:#fff;
}

/* Accordion */
h4.panel-title a {
	color:#50657B;
}



/** 03. Header
 **************************************************************** **/
#header ul.nav li a:hover,
#header ul.nav li.active a,
#header ul.nav ul  li.active a,
#header ul.nav ul  li.active a:hover {
	color:#50657B;
}



/** 04. Home
 **************************************************************** **/
.image-caption h1 em,
.image-caption h2 em,
.image-caption p em {
	color:#50657B;
}
#home.homeTop .video {
	border:#50657B 1px solid;
	box-shadow:#50657B 0 0 30px;
}


/** 05. Services
 **************************************************************** **/
.serviceBox i {
	color:#50657B; 
}



/** 06. Portfolio
 **************************************************************** **/
.portfolio .item  { 
	
}
.portfolio .item  a {
	background:#fff;
	color:#000;
}
.portfolio .item .current,
.portfolio .item  a:hover {
	background:#50657B;
	color:#fff;
}
a.portfolioClose:hover{
	background-color:#50657B;
}



/** 07. Team
 **************************************************************** **/
.owl-carousel.column .item .social {
	color:#50657B;
}



/** 08. Pricing
 **************************************************************** **/
.pricing h3 span {
	color:#50657B;
}



/** 11. Footer
 **************************************************************** **/
#footer,
#footer a.gmapClose {
	background-color:#50657B;
}




/** 12. 404 NOT FOUND
 **************************************************************** **/
#err404 h1,
#err404 h2 {
	color:#50657B;
}



/** 13. Milestone
 **************************************************************** **/
.milestone {
	color:#50657B;
}



/** 14. Pagination
 **************************************************************** **/
.pagination a {
	background:#50657B !important;
	border:0 !important;
	border-left:#3f5061 1px solid !important;
}
.pagination .disabled:hover a,
.pagination .disabled a {
	color:#ccc !important;
	background:#50657B !important;
}
.pagination .active a,
.pagination a:hover {
	background:#3f5061 !important;
	color:#fff !important;
}


/** 15. Plugins
 **************************************************************** **/
	/* 
		@PACE LOADER
		http://github.hubspot.com/pace/docs/welcome/
	*/
	.pace .pace-progress {
		 background: #50657B;
	}

	/*
		Easy pie chart
	*/
	.easyPieChartItem {
		color:#50657B;
	}



/** Blog
 **************************************************************** **/
.blog-name {
	color:#fff;
	background:#50657B;
	text-shadow:#fff 0 0 3px;
}

#blog span.user-avatar {
	background:#50657B;
}

#blog .widget a.thumb:hover {
	border:#50657B 2px solid;
}



/** Misc
 **************************************************************** **/
.styleColor {
	color:#50657B;
}
.styleBackground {
	background-color:#50657B;
}
i.ico-stack {
	background-color:#50657B;
	color:#fff;
}
a.thumbnail:hover {
	border:#50657B 1px solid;
}
.page-name {
	background:#50657B;
}
.page-name .name b,
.page-name .name i {
	color:#50657B;
}
#scroller .item:hover {
	background:#50657B;
}
#scroller .item h4 {
	color:#50657B;
}